[Desktop Entry]
Version=1.0
Type=Application
Name=RoVI(SXGA)
Comment=
Exec=rovirun.sh roslaunch rovi_utils rcalib.launch
Icon=
Terminal=true
StartupNotify=false
Name[ja_JP.eucJP]=R-Calib
