<launch>
  <include file="$(find rovi_utils)/config_tf/config_tf.launch" />

  <!--   Main body   -->
  <rosparam command="load" file="$(find rovi_utils)/r-calib/param.yaml" />
  <rosparam command="load" file="$(find rovi_utils)/r-calib/config.yaml" />
  <param name="/rovi/live/camera/SoftwareTriggerRate" type="double" value="4" />
  <param name="/rovi/pshift_genpc/projector/Mode" type="int" value="1" />
  <node pkg="rovi" type="grid_node" name="grid_node" args="/rovi/left/remap/Kn">
    <remap from="gridboard/image_in" to="/rovi/left/image_rect" />
  </node>
  <node pkg="visp_hand2eye_calibration" type="visp_hand2eye_calibration_calibrator" name="calibrator" />
  <node pkg="rovi_utils" type="rcalib.py" name="rcalib" output="screen">
    <remap from="~config" to="/config/rcalib" />
    <remap from="~clear" to="/request/clear" />
    <remap from="~capture" to="/request/capture" />
    <remap from="~solve" to="/request/solve" />
    <remap from="~cleared" to="/response/cleare" />
    <remap from="~captured" to="/response/capture" />
    <remap from="~solved" to="/response/solve" />
  </node>
  <!--   User interface  -->
  <node pkg="image_view" type="image_view" name="" args="image:=/gridboard/image_out" />
  <node pkg="rqt_param_manager" type="rqt_param_manager" name="" args="conf:=$(find rovi_utils)/r-calib/rcalib.ui dump:=$(find rovi_utils)/r-calib/param.yaml" />
  <node pkg="rovi_utils" type="tk_message.py" name="" args="/message /rovi/error" />
</launch>
