<launch>
  <rosparam command="load" file="$(find rovi_utils)/cropper/param.yaml" />
  <param name="/rovi/pshift_genpc/projector/Mode" type="int" value="1" />
  <param name="/rovi/live/camera/SoftwareTriggerRate" type="int" value="4" />
  <node pkg="rovi_utils" type="cropper.py" name="crop" args="relay:=/rovi/X1" output="screen">
    <remap from="~in/floats" to="/rovi/ps_floats" />
    <remap from="~param" to="/crop/param" />
    <remap from="~config" to="/crop_config" />
  </node>
  <node ns="/crop/out" pkg="rovi" type="floats2pc" name="floats2pc" args="/camera" />
  <node ns="/crop/raw" pkg="rovi" type="floats2pc" name="floats2pc" args="/camera" />
  <node pkg="rqt_param_manager" type="rqt_param_manager" name="" args="conf:=$(find rovi_utils)/cropper/example.ui dump:=$(find rovi_utils)/cropper/param.yaml" />
  <node pkg="rovi" type="param_watch.js" name="" args="/crop /crop/update" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rovi_utils)/cropper/example.rviz" />
<!-- PLY file saver example -->
  <node pkg="rovi_cropper" type="filer.py" name="filer" args="wd:=$(find rovi_utils)/cropper" output="screen">
    <remap from="~in/floats" to="/crop/out/floats" />
  </node>
</launch>
