<launch>
  <node pkg="tf" type="static_transform_publisher" name="" args="0 0 0 0 0 0 1 world camera/capture0 1000" />
  <rosparam command="load" file="$(find rovi_utils)/picker/config.yaml" />
  <rosparam command="load" file="$(find rovi_utils)/searcher/param.yaml" />
  <node pkg="rovi_utils" type="picker.py" name="" output="screen">
    <remap from="~config" to="/config/picker" />
    <remap from="~param" to="/picker" />
    <remap from="~clear" to="/request/clear" />
    <remap from="~solve" to="/request/solve" />
    <remap from="~score" to="/picker/score" />
    <remap from="~solved" to="/response/solve" />
  </node>
  <!--   PointColuds to show on RViz   -->
  <node pkg="rviz" type="rviz" name="" args="-d $(find rovi_utils)/picker/demo.rviz" />
</launch>
