<!--
  Example launch for multiple float3pc.
  param "/UI/frame_id" would change the every frame of PointCloud at the same time 
-->
<launch>
  <node ns="/scene/plane" pkg="rovi_utils" type="floats3pc" name="" args="hand" >
    <remap from="param" to="/floats3pc/param" />
  </node>
  <node ns="/scene/edge" pkg="rovi_utils" type="floats3pc" name="" args="hand" >
    <remap from="param" to="/floats3pc/param" />
  </node>
  <node pkg="rovi" type="param_watch.js" name="" args="/UI /floats3pc/param" />
</launch>
